*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(239, 238, 238);
}
button{
  cursor: pointer;
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
}
.dashboard{
       position: relative;
       background-color:rgb(31, 31, 98);
       display: flex;
       flex-direction: column; 
       justify-content: center;
       height: 100vh;
}
.logo-part{
     position: absolute;
     top: 2%;
     width: 100%;
     display: flex;
     left: 4%;
}
.logo-part .logo{
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgb(233, 231, 231);
}
.logo-part img{
     width: 50px;
     height: 50px; 
     border-radius: 50%;
}
.logo-part i{
    display: none;
}
.dashboard .features li{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 25px 0px 20px 25px;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
    position: relative;
}
.dashboard .features li::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #495057;
}
.dashboard .features li a{
    text-decoration: none;
    color: rgb(222, 222, 222);
 
}
.dashboard .features li i{
    color: white;
    font-size: 20px;
}
.dashboard .features li:hover {
    background-color: #2f3e78;
    border-left: 5px solid #4f6eef; 
    padding-left: 20px; 
    cursor: pointer;
}
.dashboard .features .home{
     background-color: #2f3e78;
}
.dashboard .dashboardLogOut{
    display: none;
}
.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.mainContent .text{
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(98, 98, 98);
}
.mainContent .text h1{
    color: rgb(0, 0, 139);
}
.mainContent .text p{
    margin-top: 1%;
}

.logOut{
    position: absolute;
    right: 5%;
    top: 3%;
}
.logOut button{
      padding: 8px 35px;
      border-radius: 30px;
      border: none;
      background-color: #a80303;
      color: rgb(226, 226, 226);
      cursor: pointer;
}
.mainContent .logOut button:hover{
  background-color: rgb(0, 0, 139);
}
.contentContainer{
    margin-top: 1%;
}
.contentContainer .cardsTitle{
    margin-bottom: 30px;
    color: rgb(0, 0, 139);
}
.contentContainer .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 180px);
    column-gap: 5%;
    row-gap: 8%;
    padding-right: 5%;
}
.contentContainer .cards .card{
   background-color: white;
     padding: 15px;
     text-align: center;
     border-radius: 10px;
       color: rgb(78, 78, 78);
}
.contentContainer .cards .card .icon{
   font-size: 2em;
   text-align: center;
     color: rgb(0, 0, 139);
}
.contentContainer .cards .card h3{
    text-align: center;
    margin: 2% 0%;
    color: rgb(0, 0, 139);
}
.contentContainer .cards .card .count{
    font-size: 1.6em;
    margin-bottom: 2%;
}