*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
  cursor: pointer;
}
body{
     background-color: rgb(239, 238, 238);
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
}
button{
  cursor: pointer;
}
.dashboard{
       position: relative;
       background-color:rgb(31, 31, 98);
       display: flex;
       flex-direction: column; 
       justify-content: center;
       height: 100vh;
}
.logo-part{
     position: absolute;
     top: 2%;
     width: 100%;
     display: flex;
     left: 4%;
}
.logo-part .logo{
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgb(233, 231, 231);
}
.logo-part img{
     width: 50px;
     height: 50px; 
     border-radius: 50%;
}
.logo-part i{
    display: none;
}
.dashboard .features li{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 25px 0px 20px 25px;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
    position: relative;
}
.dashboard .features li::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #495057;
}
.dashboard .features li a{
    text-decoration: none;
    color: rgb(222, 222, 222);
 
}
.dashboard .features li i{
    color: white;
    font-size: 20px;
}
.dashboard .features li:hover {
    background-color: #2f3e78;
    border-left: 5px solid #4f6eef; 
    padding-left: 20px; 
    cursor: pointer;
} 
.dashboard .features .doctors{
     background-color: #2f3e78;
}
.dashboard .dashboardLogOut{
    display: none;
}
.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.mainContent .text{
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(98, 98, 98);
}
.mainContent .text h1{
    color: rgb(0, 0, 139);
}
.logOut{
    position: absolute;
    right: 5%;
    top: 3%;
}
.logOut button{
      padding: 8px 35px;
      border-radius: 30px;
      border: none;
      background-color: #a80303;
      color: rgb(226, 226, 226);
      cursor: pointer;
}
.mainContent .logOut button:hover{
  background-color: rgb(0, 0, 139);
}
.contentContainer .topSection{
    display: flex;
   
    gap: 5%;
}
.contentContainer .topSection .searchCon{
    display: flex;
    width: 70%;
    
}
.contentContainer .topSection .searchCon .search-box{
   position: relative;
  
   width: 60%;
}
.contentContainer .topSection .searchCon .search-box i{
    position: absolute;
    top: 30%;
    left: 10px;
}
.contentContainer .topSection .searchCon .search-box input{
    padding: 10px 10px 10px 45px;
    width: 100%;
     background-color: white;
    color: rgb(98, 98, 98);
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
     border: none;
     border-radius: 10px;
}
.contentContainer .topSection .searchCon button{
    margin-left: 3%;
    padding: 10px 30px;
     background-color: white;
    color: rgb(98, 98, 98);
}
.contentContainer .topSection button{
     padding: 10px 30px;
     border: none;
     background-color: white;
     border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 139);
    color: rgb(217, 216, 216);
}
.contentContainer .doctorList{
    margin-top: 3%;
}
.contentContainer .doctorList h2{
    margin-bottom: 1%;
     color: rgb(0, 0, 139);
}
.contentContainer .doctorList table{
    width: 95%;
    padding: 5px ;
    border-collapse: collapse;
}
thead{
   background-color:rgb(30, 30, 129);
}
th{
    padding: 6px;
    text-align: start;
    color: rgb(226, 226, 226);
}
.actionHeading{
    text-align: center;
}

tr td{
    padding: 6px;
    
}
tbody tr{
    background-color: rgb(187, 221, 253);
     color: rgb(44, 44, 44);
}
tbody tr button{
    padding: 3px 14px;
    border: none;
    border-radius: 5px;
    color: rgb(221, 219, 219);
}
tbody tr button:hover{
    transform: translateY(-2px);
}
tbody tr .actions{
    display: flex;
    justify-content: center;
    gap: 7%;
}
tr:nth-child(even) {
      background-color: #dce5ef;
}
.edit{
    background-color: blue;
}
.del{
    background-color: #a80303;
}
.edit:hover{
      background-color: rgb(2, 2, 195);
}
.del:hover{
     background-color: #6f0101;
}
.navivagationsBtns{
   
    width: 90%;
    margin-top: 1%;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.navivagationsBtns button{
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 2, 196);
    color: rgb(239, 236, 236);
}
.navivagationsBtns button:hover{
    background-color: blue;
}
