@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    line-height: 1.6;
   
}
h4{
    color: rgb(212, 4, 4); 
    font-weight: 400;
}
/*================= HOME STYLES ===================*/

/* ==============NAVIGATION BAR STYLES ============================*/
.menu{
    display: flex;
    position: fixed;
    width: 100%; 
    z-index: 1000;
    top: 15px;
    justify-content: space-around;
    padding-top: 1%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1%;
    background-color: white;
}
.menu.scrolled {
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease-in-out;
}
.logo-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.logo h3{
    color: rgb(0, 0, 139);
}

.logo img, footer img{
    width: 35px;
    height: 35px;
}
.logo i{
    display: none;
    font-size: 1.5em;
    color: blue;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a, .login-signup a{
    font-family: "Rubik", sans-serif;
    font-size: medium;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 139);
}
.custom-link.active{
    color: rgb(212, 4, 4);
}
nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    left: 0;
    background:  rgb(212, 4, 4);
    transition: width .3s ease, background-color .3s ease;
}
nav a:hover::after{
    width: 100%;
}

.login-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-signup .login{
    background-color: rgb(212, 4, 4);
     color: white;
     width: 150px;
    padding: 8px 12px;
    border-radius: 30px;
    text-align: center;
}
.login-signup .login:hover{
    background-color: rgb(0, 0, 139);
}

/* ======================HERO SECTION STYLES ==================*/
.heroSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#eef2f9;
    margin: 100px 20px 0px 20px;
    padding: 80px 30px;
    padding-bottom: 80px;
    }
 .heroText{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 7%;
     width: 95%;
     color: #003b75f8;
 }
    .heroText h2{
    font-size: 3em;
    line-height: 1.2;
    margin-bottom: 20px;
}
#typing-text::after {
  content: '|'; 
  font-weight: 300;
  display: inline-block;
  margin-left: 5px;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.heroText span{
   color:rgb(212, 4, 4);
}
.heroButton{ 
    margin-top: 20px;
}
.heroButton .getStarted , .featureBtn .getStarted, .demoBtn .getStarted{
    background-color: rgb(212, 4, 4);
    color: white;
    padding: 7px 8px 7px 20px;
    width: 30%;
    text-decoration: none;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroButton .getStarted i , .featureBtn .getStarted i ,.demoBtn .getStarted i{
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    height: 30px;
    width: 30px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.heroButton .getStarted:hover,.menu .demo:hover, .featureBtn .getStarted:hover , .demoBtn .getStarted:hover{
     background-color: rgb(0, 0, 139);
}

.heroImage img{
    width: 85%;
    height: auto;
     max-height: 420px;
     object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 8s ease-in-out;
}

/*====================OVERVIEW STYLES=======================*/
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 40px;
    padding: 50px 80px;
    color: rgb(98, 98, 98);
  
}
.section2 h2{
    font-size: 2em;
    margin-bottom: 20px;
     color: #003b75f8;
}

/*====================FEATURES STYLES=======================*/
.section3{ 
     background-color:#eef2f9;
    text-align: center;
    margin: 20px 20px;
    padding: 50px 20px;
    color: rgb(98, 98, 98);
}
.section3 h2{
    font-size: 2em;
     color: #003b75f8;
}
.section3 h3,.section4 h3{
     color: #003b75f8;
}
.features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
    gap: 5%;
    padding: 0% 8%;
}
.feature{
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease; 
    position: relative;
    overflow: hidden;

}
.feature i{
    font-size: 1.5em;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px 25px 50px 45px;
    background-color: white;
    box-shadow: 0px 4px 40px 5px rgba(47, 37, 246, 0.1);
    padding: 35px;
    color: rgb(212, 4, 4);
    transition: border-radius 0.3s ease;
}
.featureBtn{
    display: inline-flex;
    width: 40%;
    justify-content: center;
}
.feature::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(167, 3, 3, 0.8); 
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.feature:hover::before {
  opacity: 1;
}

.feature:hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.vaccination-tracking:hover {
  background-image: url('../Images/vaccination.png');
}

.educational-resources:hover {
  background-image: url('../Images/educationResources.png');
}

.telehealth-consultations:hover {
  background-image: url('../Images/telehealth.png');
}


.feature:hover h3,
.feature:hover p {
  color: white;
  position: relative;
  z-index: 2;
}

.feature:hover i {
  border-radius: 50%;
  z-index: 2;
}

/*===================HOW IT WORKS STYLES=======================*/
.section4{
    margin: 20px 20px;
    padding: 50px 20px;
    text-align: center;
    color: rgb(98, 98, 98);
}
.section4 h1{
     color: #003b75f8;
    margin-bottom: 5px;
}
.section4 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    
}
.section4 .container img{
     width: 90%;
    height: auto;
     max-height: 465px;
     object-fit: cover;
    display: block;
   
}
.steps{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    margin: auto;
}
.step{
     position: relative;
     overflow: hidden; 
     background-color:#eef2f9;
     padding: 20px;
     text-align: left;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease; 
    z-index: 1;
}
.step::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 4, 4);
    transform: translateX(-100%); 
    transition: transform 0.4s ease-out; 
    z-index: -1; 
    border-radius: inherit; 
}

.step:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step:hover::before {
    transform: translateX(0);
}

.step:hover h3,
.step:hover p,
.step:hover .fa-solid { 
    color: white; 
    z-index: 2; 
    position: relative; 
    transition: color 0.3s ease; 
}
.step:hover .fa-solid{
    color: #003b75f8;
}
.section4 .step i{
    font-size: 1.5em;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px 25px 50px 45px;
    background-color: white;
    box-shadow: 0px 4px 40px 5px rgba(47, 37, 246, 0.1);
    margin-bottom: 5%;
    padding: 35px;
    color: rgb(212, 4, 4);
    transition: border-radius 0.3s ease;
}

/*===================WHY CHOOSE US STYLES=======================*/
.section5{
    background-color:#eef2f9;
    margin: 20px 20px;
    padding: 50px 20px;
    text-align: center;
    color: rgb(98, 98, 98);
}
.section5 h1{
     color: #003b75f8;
    margin-bottom: 5px;
}
.advantage h3{
    color: #003b75f8;
    margin-bottom: 10px;
}
.advantages{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4%;
    margin: 5% 8%;
}
.advantage{
    background-color: white;
    padding: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease; ;
}
.advantage i{
    font-size: 1.5em;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px 25px 50px 45px;
    background-color: white;
    box-shadow: 0px 4px 40px 5px rgba(47, 37, 246, 0.1);
    margin-bottom: 15%;
    padding: 35px;
    color: rgb(212, 4, 4);
    transition: border-radius 0.3s ease;
}
.advantage:hover{
    background-color: rgb(212, 4, 4);
    color: white;
     transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.advantage:hover h3,
.advantage:hover p{
    color: white;
}
.advantage:hover i{
    border-radius: 50%;
}

/*====================CAREGIVER SUPPORT =========================*/
.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 40px;
    padding: 50px 80px;
    color: rgb(98, 98, 98);
}
.demoBtn{
    display: inline-flex;
    width: 55%;
    justify-content: center;
    margin-top: 5%;
}
.section6 h1{
     color: #003b75f8;
    margin-bottom: 5px;
}


/*===================FOOTER============================*/
footer{
    background-color:#012a70;
    margin: 20px 20px;
    padding: 35px 20px;
    color: rgb(197, 197, 197);
}
.footer-container{
    display: grid;
    grid-template-columns: 370px 200px 200px 300px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.footer-logo{
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 20px;
    margin-bottom: 25px;
   
}
.logo-name span{
    color: rgb(212, 4, 4);
    font-size: larger;
}
footer img{
    width: 55px;
    height: 60px;
}
.footer-column h3{
    margin-bottom: 40px;
}
.footer-column ul{
    list-style: none;
}
.footer-column ul li{
    margin-bottom: 5px;
}
.footer-column ul li a{
    text-decoration: none;
    color: rgb(214, 211, 211);
    transition: color 0.3s ease;
}
.footer-column ul li a:hover{
    color: rgb(212, 4, 4);
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 25px;
    font-size: 0.9em;
}

/*=============================OVERLAY STYLES=================================*/
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1233; 
 
}


/*=============================CHOOSE LOGIN ROLE=================================*/
/*=============================OVERLAY STYLES=================================*/
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1233; 
  backdrop-filter: blur(2px); 
  pointer-events: none; 
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-overlay.show {
  display: block;
  opacity: 1;
  pointer-events: all; 
}


/*=============================CHOOSE LOGIN ROLE=================================*/
.role-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(1, 42, 112, 0.95); 
  width: 35%;
  z-index: 1234; 
  padding: 2% 4% 4% 4%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.role-modal.show {
  display: block;
  opacity: 1;
}

.role-modal-content h2,
.role-modal-content p {
  text-align: center;
  color: #ebebeb; 
}

.role-options {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.role-options button {
  padding: 2%;
  width: 50%;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #012a70;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.role-options button:hover {
  background-color: #760202;
  color: #ebebeb; 
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.role-modal-content .logoImage{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.role-modal-content img{
    width: 70px;
    height: 70px;
}



/*===================MEDIA QUERIES=======================*/

@media (max-width: 600px){
    body{
        font-size: small;
    }
    /*================= HOME STYLES ===================*/
    /* ==============NAVIGATION BAR STYLES ============================*/
    .menu{
         flex-direction: column;
         align-items: start;
         justify-content: center;
         padding: 4%;
         font-size: small;
         top: 0;
    }
    nav a, .login-signup a{  
           font-size: small;
     }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .logo-part{
        font-size: 0.7em;
        gap: 2px;
    }
    .logo img{
        width: 30px;
        height: 30px;
    }
    .logo i{
        display: block;
        font-size: 2em;
    }
    nav{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:0% 10%;
        margin: 8% 0%;
        display: none;
    }
    .login-signup{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
        display: none;
    }

    /* ======================HERO SECTION STYLES ==================*/
    .heroSection{
        grid-template-columns: 1fr;
        grid-template-areas:
         'heroImage'
         'heroText'
        ;
        padding:0px 0px 60px 0px;
        margin: 60px 0px;
        
    }
    .heroImage {
         grid-area: heroImage;
         margin-bottom: 8%;
    }
    .heroImage img{
        width: 100%;
        max-height: 250px;
        border-radius: 0px;
        object-position: center;
    }

     .heroText {
         grid-area: heroText;
         width: 100%;
         margin-top: 1.5%;
         padding: 1.5%;
         text-align: left;
   }
      .heroText h2{
        font-size: 1.8em;
        text-align: center;
}
.heroButton{
    display: flex;
    justify-content: center;
}
.heroButton .getStarted{
    width: 50%;
    max-width: 150px;
    font-size: 0.9em;
    padding: 4px 8px 4px 12px;
}

/*====================OVERVIEW STYLES=======================*/
.section2{
    margin: 20px 0px;
    padding: 30px 10px;
}
.largeScreen-text{
    display: none;
}
.section2 h2{
    font-size: 1.6em;
    line-height: 1.2;
}

/*====================FEATURES STYLES=======================*/
.section3{
    margin: 10px 0px;
    padding: 20px 20px;
}
.section3 h2{
    font-size: 1.6em;
}
.features{
    grid-template-columns: 1fr;
    padding: 0% 5%;
    gap: 20px;
    margin-bottom: 25px;
}
.feature{
    text-align: center;
    padding: 18px;
}
.feature i{
    padding: 10px;
    margin: auto;
}
.feature h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.featureBtn{
    width: 100%;
}
.featureBtn .getStarted{
    width: 50%;
    padding: 4px 8px 4px 12px;
    max-width: 150px;
    
}
/*===================HOW IT WORKS STYLES=======================*/
.section4{
    margin: 20px 0px;
}
.section4 .container{
    grid-template-columns: 1fr;
    gap: 30px;
}
.section4 .container img{
    width: 100%;
}
.steps{
    grid-template-columns: 1fr;
    gap: 20px;
     padding: 0% 5%;
}
.step{
    text-align: center;
}
.section4 .step i{
    padding: 10px;
    margin: auto;
}
.step h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
/*===================WHY CHOOSE US STYLES=======================*/
.section5{
    margin: 20px 0px;
}
.advantages{
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 5% 0%;
     padding: 0% 5%;
}
.advantage{
    text-align: center;
}
.advantage h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.advantage i{
    padding: 10px;
    margin: auto;
}
/*====================CAREGIVER SUPPORT =========================*/
.section6{
    margin: 20px 0px;
    padding: 30px 10px;
    text-align: center;
}
.demoBtn{
    width: 100%;
}
.demoBtn .getStarted{
    width: 50%;
    padding: 4px 8px 4px 12px;
    max-width: 200px;
    
}
/*========================FOOTER STYLES=========================*/
footer{
    margin: 20px 0px 0px 0px;
}
.footer-container{
    grid-template-columns: 1fr;
    text-align: left;
}
.footer-column{
    margin-top: 30px;
}
.footer-column h3{
    margin-bottom: 5px;
}

/*===========================CHOOSE YOUR ROLE========================*/
.role-modal{
    width: 90%;
    padding: 12% 4%;
}


}

@media (min-width: 601px) and (max-width: 1024px){
      body{
        font-size: medium;
    }
     nav a, .login-signup a{  
           font-size: small;
     }
     /*===================HEROSECTION STYLES===============*/
     .heroSection{
         margin: 100px 0px 0px 0px;
     }
     .heroButton{
    display: flex;
    
     }
    .heroButton .getStarted{
    width: 50%;
    max-width: 150px;
    font-size: 0.9em;
    padding: 4px 8px 4px 12px;
    }
  /*=====================FEATURE STYLES====================*/
  .section3{
    margin: 10px 0px;
    padding: 20px 0px;
}
.features{
    padding: 10px;
    gap: 20px;
    margin-bottom: 25px;
}
  .featureBtn{
    width: 100%;
   }
  .featureBtn .getStarted{
    width: 50%;
    padding: 4px 8px 4px 12px;
    max-width: 150px;
    
   }

   /*======================HOW IT WORKS=====================*/
   .section4{
    margin: 20px 0px;
}
.section4 .container{
    grid-template-columns: 1fr;
    gap: 30px;
}
.section4 .container img{
     width: 100%;
    height: auto;
     max-height: 465px;
     object-fit: cover;
    display: block;
   
}
/*===================WHY CHOOSE US STYLES=======================*/
.section5{
    margin: 20px 0px;
}
.advantages{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 5% 0%;
}
   /*======================CAREGIVER-SUPPORT===============*/
   .demoBtn{
    width: 100%;
}
.demoBtn .getStarted{
    width: 50%;
    padding: 4px 8px 4px 12px;
    max-width: 200px;
    
}

    /*===================FOOTER STYLES====================*/
  footer{
    margin: 20px 0px 0px 0px;
}
    .footer-container{
        grid-template-columns: 1fr 1fr;
        text-align: left;
        gap: 5%;
    }

    /*===========================CHOOSE YOUR ROLE========================*/
.role-modal{
    width: 40%;
    padding: 6% 2%;
}
}