*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(250, 250, 250);
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
}
.dashboard{
       position: sticky;
       top: 0; 
       background-color:rgb(31, 31, 98);
       display: flex;
       flex-direction: column; 
       justify-content: center;
       height: 100vh;
}
.logo-part{
     position: absolute;
     top: 2%;
     width: 100%;
     display: flex;
     left: 4%;
}
.logo-part .logo{
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgb(233, 231, 231);
}
.logo-part img{
     width: 50px;
     height: 50px; 
     border-radius: 50%;
}
.logo-part i{
    display: none;
}
.dashboard .features li {
    list-style: none;
    padding: 0px; 
    display: flex;
    gap: 0;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
    position: relative;
}
.dashboard .features .home ,.dashboard .features .infantProfile, .dashboard .features .consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}
.dashboard .features li::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #495057;
}
.dashboard .features li a{
    text-decoration: none;
    color: rgb(222, 222, 222);
}
.dashboard .features li .link1, .dashboard .features li .link2 {
    margin-left: 8%;
}
.dashboard .features li i{
    color: white;
    font-size: 20px;
}
.dashboard .features li:hover {
    background-color: #2f3e78;
    border-left: 5px solid #4f6eef; 
    /* padding-left: 20px;  */
    cursor: pointer;
}
.dashboard .features .educate{
     background-color: #2f3e78;
}
.dashboard .features .educate.active{
     background-color:rgb(31, 31, 98);
}
.dashboard .dashboardLogOut{
    display: none;
}
.profile .logoutBtn{
    border: none;
    background-color: white;
    cursor: pointer;
}
/* ---------- SIDEBAR DROPDOWN STYLES ---------- */
.menu-item {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
}
.dashboard .features li a,
.menu-item .menu-header {
    padding: 20px 14px 20px 14px; 
    width: 100%; 
    box-sizing: border-box; 
}

.menu-item .menu-header {
    background-color: transparent; 
    display: flex;
    padding-left: 0%;
    justify-content: space-around;
    align-items: center;
}

.menu-header span,
.menu-header a {
    color: rgb(222, 222, 222);
    text-decoration: none;
}

.menu-item .arrow {
    transition: transform 0.3s ease;
}
.submenu {
    max-height: 0;
    overflow: hidden;
    background-color: #2f3e78;
    transition: max-height 0.35s ease;
}

.submenu li {
    padding: 2px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu li a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    margin-left: 19%;
}

.dashboard .features .submenu li:hover {
    background-color: #5e0101;
}

.menu-item.open .submenu {
    max-height: 400px;
}

.menu-item.open .arrow {
    transform: rotate(180deg);
}


.mainContent{
    position: relative;
}

.mainContent .header{
      background-color: white;
      margin-top: 1.5%;
      margin-right: 2%;
      padding: 6px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
       box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.mainContent .header .text{
    width: 50%;
    line-height: 1.5;
     color: rgb(98, 98, 98);
}
.mainContent .header .text p{
    margin-left: 0.5%;
}
.mainContent .header .text h1{
       color: rgb(0, 0, 139);
}
.mainContent .header .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5; 
  
}
.mainContent .header .profile a{
  text-decoration: none;
}
.mainContent .header img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.mainContent .searchCon{
    display: flex;
    margin-top: 5%;
}
.mainContent .searchCon .search-box{
    position: relative;
    width: 40%;
   
}
.mainContent .searchCon .search-box i{
    position: absolute;
    top: 10px;
    left: 10px;
}
.mainContent .searchCon input{
    padding: 12px;
    width: 98%;
    border: none;
    border-radius: 10px;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.mainContent .searchCon button{
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 139);
    color: rgb(217, 216, 216);
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.mainContent .navigationButtons{
    margin-top: 5%;
}
.mainContent .navigationButtons button{
    padding: 12px 21px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: rgb(98, 98, 98);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-out;
    cursor: pointer;
}
.mainContent .navigationButtons button:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.mainContent .navigationButtons .all{
     background-color: rgb(0, 0, 139);
     color: rgb(217, 216, 216);
}
.contentContainer{
    padding-bottom: 8.55%;
}
.contentContainer h2{
    margin-top: 8%;
    color: rgb(1, 1, 101);
}
.contentContainer .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-right: 2%;
    margin-top: 5%;
}
.contentContainer .cards .card{
    background-color: white;
    padding: 20px;
    text-align: center;
    color: rgb(98, 98, 98);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     transition: all 0.2s ease-in-out;
}
.contentContainer .cards .card:hover {
    box-shadow: 0 6px 18px rgba(9, 53, 248, 0.15);
    cursor: pointer;
    transform: translateY(-10px); 
}
.contentContainer .cards .card h3{
    margin-bottom: 3%;
    color: rgb(1, 1, 101);
}
.contentContainer .cards .card img{
    height: 45px;
    width: 45px;
    margin-bottom: 6%;
}
.cards a{
    text-decoration: none;
}
.swal2-container {
  z-index: 99999999 !important; 
}

.swal-custom-zindex {
  z-index: 100000000 !important; 
}

/*===================MEDIA QUERIES=======================*/
@media (max-width: 600px){
    section{
        grid-template-columns: 1fr;
    }
     .logo-part{
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        padding: 3% 5% 3% 2%;
        background-color:rgb(31, 31, 98);
        z-index: 100000;
    } 
    .logo-part i{
        display: block;
        color: white;
        font-size: 30px;
    }
     .logo-part h3{
        font-size: medium;
    }
    .logo-part img{
        height: 35px;
        width: 35px;
    }  
    .logo-part i{
         display: block;
         color: white;
          font-size: 30px;
      } 
      .dashboard{
        position: relative;
        height: 8vh;
      }
     .dashboard .dashboardLogOut {
           display: block;
           position: fixed; 
           bottom: 4%;
           left: -50%;
           transform: translateX(-50%);
           z-index: 10001; 
           transition: left 0.3s ease-in-out;
       }
      .dashboard .dashboardLogOut button{
            padding: 8px 35px;
            border-radius: 30px;
            border: none;
            background-color: #a80303;
            color: rgb(226, 226, 226);
            cursor: pointer; 
      }
        .dashboard .features {
            position: fixed; 
            width: 100%;
            top: 8%;
            padding-top: 20%;
            background-color: rgb(31, 31, 98);
            transition: left 0.3s ease-in-out;
            left: -100%;
            height: calc(100vh - 8%);
            z-index: 10000;
    } 
            .dashboard .features li {
        padding: 15px 0px 20px 15px;
    }
    .dashboard .features .vaccine{
     grid-template-rows: 25px 0px;
}
.dashboard .features .vaccine .menu-header{
    padding-left: 8px;
 
 }
      .mainContent .header{
           margin: 10% 3% 10% 3%;
           padding: 0px 0px;
        }  
        .mainContent .header .profile{
            display: none;
        }
        .mainContent .header .text{
            width: 100%;
            padding: 2% 3%;
            
        }
        .mainContent .header .text p{
           font-size: normal;
        }
        .mainContent .header .text h1{
            font-size: 25px;
        }
        .mainContent .searchCon{
            margin-top: 0%;
            padding: 0px 10px;
        }
        .mainContent .searchCon .search-box{
            width: 100%;
        }
        .mainContent .searchCon .search-box input{
            padding: 8px;
            width: 98%;
        }
        .mainContent .searchCon button{
             padding: 8px 24px;
        }
        .mainContent .navigationButtons{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
          padding: 0px 8px;
          margin-top: 8%;
        }
        .mainContent .navigationButtons button{
            padding: 8px 14px;
           
        }
        .contentContainer .cards{
            grid-template-columns: 1fr;
            width: 80%;
            margin: 12% auto;
        }
        .contentContainer h2{
            margin-top: 8%;
            text-align: center;
        }


     
}