*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(250, 250, 250);
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
}
.dashboard{
       position: sticky;
       top: 0; 
       background-color:rgb(31, 31, 98);
       display: flex;
       flex-direction: column; 
       justify-content: center;
       height: 100vh;
}
.logo-part{
     position: absolute;
     top: 2%;
     width: 100%;
     display: flex;
     left: 4%;
}
.logo-part .logo{
    display: flex;
    align-items: center;
    gap: 5%;
    color: rgb(233, 231, 231);
}
.logo-part img{
     width: 50px;
     height: 50px; 
     border-radius: 50%;
}
.logo-part i{
    display: none;
}
.dashboard .features li {
    list-style: none;
    padding: 0px; 
    display: flex;
    gap: 0;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
    position: relative;
}
.dashboard .features .home ,.dashboard .features .infantProfile, .dashboard .features .consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}
.dashboard .features li::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #495057;
}
.dashboard .features li a{
    text-decoration: none;
    color: rgb(222, 222, 222);
 
}
.dashboard .features li .link1, .dashboard .features li .link2 {
    margin-left: 8%;
}
.dashboard .features li i{
    color: white;
    font-size: 20px;
}
.dashboard .features li:hover {
    background-color: #2f3e78;
    border-left: 5px solid #4f6eef; 
    cursor: pointer;
}
.dashboard .features .consult{
     background-color: #2f3e78;
}
.dashboard .features .consult.active{
     background-color:rgb(31, 31, 98);
}
.dashboard .dashboardLogOut{
    display: none;
}

/* ---------- SIDEBAR DROPDOWN STYLES ---------- */
.menu-item {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
}
.dashboard .features li a,
.menu-item .menu-header {
    padding: 20px 14px 20px 14px; 
    width: 100%; 
    box-sizing: border-box; 
}

.menu-item .menu-header {
    background-color: transparent; 
    display: flex;
    padding-left: 0%;
    justify-content: space-around;
    align-items: center;
}

.menu-header span,
.menu-header a {
    color: rgb(222, 222, 222);
    text-decoration: none;
}

.menu-item .arrow {
    transition: transform 0.3s ease;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    background-color: #2f3e78;
    transition: max-height 0.35s ease;
}

.submenu li {
    padding: 2px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu li a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    margin-left: 19%;
}

.dashboard .features .submenu li:hover {
    background-color: #5e0101;
}

.menu-item.open .submenu {
    max-height: 400px;
}

.menu-item.open .arrow {
    transform: rotate(180deg);
}

.mainContent{
    height: 100vh;
}
.mainContent .header img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
   
}
.mainContent .header .profile{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 2%;
    width: 95%;
    padding-right: 2%;
    padding-bottom: 1%;
}
.mainContent .header .profile a{
    text-decoration: none;
    margin-top: 1%;
    margin-right: -0.5%;
}
.headerContainer .text{
    margin-top: 2%;
    margin-bottom: 3%;
      color: rgb(98, 98, 98);
}
.headerContainer .text h1{
          color: rgb(0, 0, 139);
}

.linksContainer{
    display: grid;
    grid-template-columns: 150px 150px 180px 140px 140px 140px 220px;
    background-color: white;
    width: 97%;
    color: rgb(98, 98, 98);
    border-radius: 10px;

}
.linksContainer p{
    display: flex;
    gap: 8%;
}
.linksContainer .activeLink{
    background-color:  rgb(0, 0, 139);
    padding: 10px;
    color: rgb(225, 225, 225);
    border-radius: 10px;
    cursor: pointer;
}
.linksContainer .pendingMeeting{
    background-color:  rgb(0, 0, 139);
    padding: 10px;
    color: rgb(225, 225, 225);
    border-radius: 10px;
    cursor: pointer;
}
.linksContainer .upcomingMeeting, .overdueMeeting, .canceledMeeting ,.pastMeeting,.rescheduleMeeting,.appointment{
    background-color: white;
    padding: 10px;
    cursor: pointer;
}
.linkDetailsContainer{
    background-color: white;
    margin: 2% 12% 2% 0%;
    padding: 20px 20px 20px 20px;
    color: rgb(86, 86, 86);
    width: 97%;
}
.linkDetailsContainer  h2{
     color: rgb(0, 0, 139);
     text-align: center;
}
.linkDetailsContainer .pending , .linkDetailsContainer .upcoming, .linkDetailsContainer .overdue, .linkDetailsContainer .past, .linkDetailsContainer .canceled ,.linkDetailsContainer .reschedule{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3%;
}

.linkDetailsContainer  .card{
      background-color: rgb(239, 249, 253);
      padding: 16px;
      line-height: 1.5;
      border-radius: 10px;
}
.linkDetailsContainer .card button{
     margin-top: 5%;
     padding: 4px 12px;
     background-color:  rgb(0, 0, 139);
     border: none;
     color: rgb(225, 225, 225);
     border-radius: 8px;
}
.linkDetailsContainer h2{
    text-align: start;
    margin-bottom: 2%;
}
.bookAppointment h2{
    text-align: center;
}

.linkDetailsContainer .pastCon{
   display: none;
}

.linkDetailsContainer .bookAppointment form{
    padding: 16px 50px;
   
}
.linkDetailsContainer .bookAppointment form .form-group{
    margin-bottom: 1.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.linkDetailsContainer .bookAppointment form .form-group textarea{
    padding: 6px;
    padding-left: 20px;
}
.linkDetailsContainer .bookAppointment form .form-group input , textarea , select{
    border: none;
    padding: 6px;
    padding-left: 20px;
    background-color: rgb(219, 244, 254); 
     color: rgb(86, 86, 86);
     border-radius: 8px; 
}
.linkDetailsContainer .bookAppointment form button{
   padding: 8px 20px;
   margin-left: 50%;
   background-color:  rgb(0, 0, 139);
   border: none;
   color: rgb(225, 225, 225);
   border-radius: 8px;
   cursor: pointer;
} 

/*===================MEDIA QUERIES=======================*/
@media (max-width: 600px){
        section {
                grid-template-columns: 1fr;
              
         }
         .logo{
            display: flex;
            align-items: center;
         }
      .logo-part{
        position: fixed;
        top: 0;
       left: 0;
       justify-content: space-between;
       align-items: center;
       padding: 3% 5% 3% 2%;
       background-color:rgb(31, 31, 98);
       z-index: 100000;
    } 
      .logo-part h3{
        font-size: medium;
    }
    .logo-part img{
        height: 35px;
        width: 35px;
    }  
    .logo-part i{
         display: block;
         color: white;
          font-size: 30px;
      } 
      .dashboard{
        position: relative;
          height: 8vh;
      }

     .dashboard .dashboardLogOut {
           display: block;
           position: fixed; 
           bottom: 4%;
           left: -50%;
           transform: translateX(-50%);
           z-index: 10001; 
           transition: left 0.3s ease-in-out;
       }
      .dashboard .dashboardLogOut button{
            padding: 8px 35px;
            border-radius: 30px;
            border: none;
            background-color: #a80303;
            color: rgb(226, 226, 226);
            cursor: pointer; 
      }
    .dashboard .features {
            position: fixed; 
            width: 100%;
            top: 8%;
            padding-top: 20%;
            background-color: rgb(31, 31, 98);
            transition: left 0.3s ease-in-out;
            left: -100%;
            height: calc(100vh - 8%);
            z-index: 10000;
    } 
        .dashboard .features li {
        padding: 15px 0px 20px 15px;
    }
    .dashboard .features .vaccine{
     grid-template-rows: 25px 0px;
}
.dashboard .features .vaccine .menu-header{
    padding-left: 8px;
 
 }
    .header{
        display: none;
    }
    .headerContainer .text{
        margin-top: 20%;
    }
    .headerContainer .text p{
        margin-left: 5%;
    }
    .headerContainer .text h1{
        font-size: 25px;
        margin-left: 5%;
    }
    .linksContainer{
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        column-gap: 2%;
        row-gap: 10%;
        background-color: transparent;
        width: 90%;
        margin: 5% 2% 5% 5%;
        padding: 5%;
       
    }
    .linkDetailsContainer .upcoming , .linkDetailsContainer .past{
        grid-template-columns: 1fr;
    }
    .linksContainer .upcomingMeeting{
        padding: 8px;
    }
    .linksContainer .pastMeeting{
         padding: 8px;
    }
    .linksContainer .appointment{
        padding: 8px;
        text-align: center;
    }
    .linkDetailsContainer .pastCon h2 , .upcomingCon h2{
        font-size: 18px;
    }
    .linkDetailsContainer{
        margin: 5%;
        padding-bottom: 5%;
        height: auto;
    }
    .linkDetailsContainer .bookAppointment form{
      padding: 20px 20px;
   }
    .linkDetailsContainer .bookAppointment form .form-group{
    margin-bottom: 5%;
    grid-template-columns:  1fr;
  }
  .linkDetailsContainer .bookAppointment form button{
    margin-left: 0;
    margin-top: 5%;
  }
  .linkDetailsContainer .bookAppointment form .form-group input , textarea , select{
    margin-top: 2%;
  }
}

